{% load i18n mezzanine_tags blog_tags %}

{% blog_recent_posts as posts %}

{% if posts %}
{% for blog_post in posts %}
<h2>
    <a href="{{ blog_post.get_absolute_url }}">{{ blog_post.title }}</a>
</h2>
<h6>
    {% trans "Posted by" %}:
    {% with blog_post.user as author %}
    <a href="{% url blog_post_list_author author %}">{{ author.get_full_name|default:author.username }}</a>
    {% endwith %}
    {% if blog_post.category_list %}
    {% trans "in" %}
    {% for category in blog_post.category_list %}
    <a href="{% url blog_post_list_category category.slug %}">{{ category }}</a>
    {% endfor %}
    {% endif %}
    {{ blog_post.publish_date|timesince }} {% trans "ago" %}
</h6>
{% endfor %}
{% else %}
    <span class="alert alert-info">No Recent Blogposts</span>
{% endif %}
