{% load twitter_tags mezzanine_tags i18n %}
{% if "mezzanine.twitter"|is_installed %}
{% with opts.Tag as hash_tag %}
    {% with opts.Limit as lim %}
    {% tweets_for_search hash_tag lim as tweets %}
    {% if tweets %}
    <h3>{% trans "Recent Tweets" %} tagged with {{ hash_tag }}</h3>
    <ul class="unstyled tweets">
        {% for tweet in tweets %}
        <li>
            <img src="{{ tweet.profile_image_url }}">
            <a href="http://twitter.com/{{ tweet.user_name }}">@{{ tweet.user_name }}</a>
            {% if tweet.user_name != tweet.full_name %}<span class="name">@{{ tweet.full_name }}</span>{% endif %}
            {% if tweet.is_retweet %}
            <p><span class="recycle">&#x267B;</span>
            <img class="retweet" src="{{ tweet.retweeter_profile_image_url }}">
            <a href="http://twitter.com/{{ tweet.retweeter_user_name }}">@{{ tweet.retweeter_full_name }}</a></p>
            {% endif %}
            <div>{{ tweet.text|safe }}</div>
            <span class="timespan">{{ tweet.created_at|timesince }} {% trans "ago" %}</span>
        </li>
        {% endfor %}
    </ul>
    {% else %}
        <span>No Tweets</span>
    {% endif %}
    {% endwith %}
{% endwith %}
{% endif %}

