.widget-toolbar{margin-bottom: 5px;}
/*.widget_holder{border-bottom: #2D2D2D solid thick;}*/
/* FORM consistent with mezzanine editable form, Should really be a general frontend admin form layout */

.frontend-admin-form {padding:20px; background:#fffcc3; border:1px solid #000;
    -moz-box-shadow: 0 0 20px #222; -webkit-box-shadow: 0 0 20px #222;
    line-height:1em; border-radius:5px;}
.frontend-admin-form table, .editable-form textarea, .editable-form input {
    width: 100%; margin: .5em 0;}
.frontend-admin-form .booleanfield {width: auto;}
.frontend-admin-form input.datetimefield {width: 80px; margin-left: 8px;}
.frontend-admin-form select {width:auto;}
.frontend-admin-form input[type="file"] {width: 300px;}
.frontend-admin-form p {margin: .5em 0 !important; padding: 0 !important;
    line-height: 0 !important; border: 0 !important;}
.frontend-admin-form p:first-child {margin-top: 0px;}
.frontend-admin-form .helptext {font-size: 70%; color: #444; font-style: italic;}
.frontend-admin-form label {text-transform: capitalize !important;
    font-weight: bold !important; line-height: 1.1em !important;
    font-size: 15px !important; color: #000 !important;float:none;}
.frontend-admin-form .btn {width:auto; cursor:pointer; float:right;
    margin:15px 0 0 15px; padding:5px 15px;}
.frontend-admin-form .controls{margin-bottom: 10px;}
.frontend-admin-form .controls label{margin-bottom: 10px;}

.ordering .tools{position: relative; top:0; right:0; loat:right; cursor:move;}
.wysihtml5-sandbox body{line-height: 1px !important;}
#sortablelist {
    padding: 16px 21px !important;
}

.ui-state-highlight { height: 1.5em; line-height: 1.2em; }
.widget-sortable { float:left; margin-right:20px;}

/*body { color:white; font-family:Helvetica, sans-serif; text-shadow:1px 1px 1px rgba(0,0,0,0.2); }*/
.widget-sortable { overflow:hidden; border-radius:6px; }
.widget_holder { display:block; position:relative; z-index:1; }
.widget_holder:after {display:block; position:absolute; height:100%; width:100%; top:0px; left:0px; content:' '; border-radius:6px; z-index:-1; }

.widget_holder { -moz-transition:border-top-width 0.1s ease-in; -webkit-transition:border-top-width 0.1s ease-in; border-top:0px solid rgba(0,0,0,0); }
.marker {
    width:100%;
    float:left;
    opacity:0.0;
    background: #f0f0f0;
    border:1px dashed #000;
    visibility: visible !important;
}
.placeholder {
    width: 100%;
    /*margin: -2px;*/
    background: #717ca1;
    height: 1em;
}