{% load i18n %}
{% load mezzanine_tags pages_tags %}


<div class="widget-wrapper" id="{{ slot }}">
    {% if perms.widget.can_add %} 
    <div class="widget-toolbar">
       {% if page %} <a class="widget-add-link label-success label" href="#" rel="#widget-form">{% trans "Add Widget" %}</a>
       {% endif %}
    </div> 
    {% endif %}
    {% if widgets and contains_widgets %}
    <div id="widget-sortable">
    {% for w in widgets %}
        <div id="{{ w.meta.name|force_escape}}" class="ui-state-default widget_holder" style="position:relative;">
                <div class="btn-toolbar">
                <span class="widget-item-toolbar btn-group">
                    <!--rel="#edit-widget-form"-->
                    {% if perms.widget.can_change %}
                    <a id="ew-{{ w.widget.id }}-edit" class="widget-edit-link" data-target="#editForm" href="#editForm" data-toggle="modal" ><i class="icon-edit"></i>{#% trans "Configure " %}{{ w.meta.name|force_escape|capfirst}#}</a>
                    {% endif %}
                    {% if perms.widget.can_delete %}
                    <a id="dw-{{ w.widget.id }}-delete" class="widget-delete-link"  href="{% url delete_widget w.widget.id %}?next={{request.path}}"><i class="icon-remove"></i></a>
                    {% endif %}
                    {% if perms.widget.can_change %}
                    <span style="position: absolute;top: 0;right: 0;" class="ordering">
                        <img src="img/admin/arrow-up.gif" />
                        <img src="img/admin/arrow-down.gif" />
                    </span>
                    {% endif %}
                </span>
                </div>
            {% endif %}
            <div id="{{ w.meta.name|force_escape|lower}}-widget-content">
                {{ w.content|safe }}
            </div>
        </div>
    {%  endfor %}
    </div>
    {% endif %}
</div>
