{% load i18n %}
{% load frontend_tags mezzanine_tags %}


<div class="widget_wrapper" id="{{ slot }}">
    {% if request.user.is_staff %}
    <a class="widget-form-link" href="#" rel="#widget-form">{% trans "Add Widget" %}</a>
    {% endif %}
    {% if widgets and contains_widgets %}
    <div id="widgets-sortable">
    {% for w in widgets %}
        <div id="{{ w.meta.name|cut:" "|force_escape|lower}}_widget_holder" class="ui-state-default widget_holder">
            {{ w.content|safe }}
            {% can_delete w.widget %}
            {% if request.user.is_staff %}
            <a id="ew-{{ w.widget.id }}" class="widget-edit-link" href="#edit-widget" rel="#edit-widget-form">{% trans "Edit " %}</a>
            {% endif %}
        </div>
    {%  endfor %}
    </div>
    {%  endif %}
</div>
